body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
    width: 400px;
    height: 20px;
    border-radius: 10px;
    box-sizing: 0px 0px 15px #f357ff,
    0px, 0px 40px #f357ff;
    animation: animate 3s linear infinite;
    background: linear-gradient(to right, #ff2d2d, #77ff77, #00ddff);
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}